<div class="card  col s12 l12" ng-controller = "memformCtrl">
    <form class="col s12" name = "memform" ng-submit="submit()" ng-init="tcCheckbox = false">

        <!--First Name-->
        <div class="input-field col s12 l6">
            <i class="mdi-action-account-circle prefix"></i>
            <input required name="firstName" id="mem_fname" type="text" class="validate"  ng-model="firstName">
            <label for="mem_fname">First Name</label>
        </div>

        <!--Last Name-->
        <div class="input-field col s12 l6">
            <i class="mdi-action-account-circle prefix"></i>
            <input required  id="mem_lname" type="text" class="validate"  ng-model="lastName">
            <label for="mem_lname">Last Name</label>
        </div>

        <!--Registration Number-->
        <div class="input-field col s12 l6">
            <i class="mdi-action-picture-in-picture prefix"></i>
            <input required  id="mem_reg_no" type="text" class="validate" length="9"  ng-model="regNumber">
            <label for="mem_reg_no">Registration Number</label>
        </div>

        <!--Mobile Number-->
        <div class="input-field col s12 l6">
            <i class="mdi-hardware-smartphone prefix"></i>
            <input required id="mem_mobile" type="number" class="validate" length="10"  ng-model="mobileNumber">
            <label for="mem_mobile" data-error="Incorrect">Mobile Number</label>
        </div>

        <!--Date Of Birth-->
        <div class="input-field col s12 l6">
            <i class="mdi-action-today prefix"></i>
            <input required id="mem_dob" type="date" class="datepicker validate"  ng-model="DOB">
            <label for="mem_dob"  data-error="Incorrect">Date Of Birth</label>
        </div>

        <!--Email-->
        <div class="input-field col s12 l6">
            <i class="mdi-communication-email prefix"></i>
            <input required name="email" id="mem_email" type="email" class="validate" ng-model="email">
            <label for="mem_email" data-error="Incorrect" >Email</label>
        </div>

        <!--Terms And Conditions-->
        <div class="input-field col s8 l7">
            <input required type="checkbox" class="filled-in" id="TC_checkbox"  ng-model="tcCheckbox"/>
            <label for="TC_checkbox">I Accept The <a class="modal-trigger waves-effect waves-light" href="#TCmodal">Terms & Condition</a></label>

            <!-- Terms & Condition Modal -->
            <div id="TCmodal" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <h4>{{tcOBJ.HeadText}}</h4>
                    <p>{{tcOBJ.TCText}}</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat " ng-click = "tcCheckbox = true">I Agree</a>
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat " >Close</a>
                </div>
            </div>
        </div>

        <!--Submit-->
        <div class="input-field col s4 l5">
            <button class="btn waves-effect waves-light" type="submit" name="action" ng-disabled = "!tcCheckbox">Submit
                <i class="mdi-content-send right"></i>
            </button>
        </div>

        <div class="s12 l12">
            &nbsp;
        </div>
    </form>
</div>
